<ion-view  class="list-bg" style="margin-left:10px; padding:4px 18px 8px 1px">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="scroll-content">
      <div class="wrapper row2" style="margin-top:34px">
        <div id="container" class="clear">
          <div id="about-us" class="clear">
            <section id="about-intro" class="clear text-center">
              <h1 style="margin-bottom: 40px" class="text-center">About Us</h1>
              <div style="width:140px; height:140px; margin: auto;top: 0;left: 0;right: 0;bottom: 0; ">
                <img style="max-width: 100%; max-height: 100%;" src="./img/mob-logo.png" />
              </div>
              <p>Zimbabweans are tiring from mostly fundraising machinations being done by the Police as they are on a rampage to take every penny from the citizenry, and especially private motorists and the public transport operators. There they have mushroomed road blocks and “points” everywhere deploying a lot of the police force workers to get as much as they can. There is speculation that they are also becoming a significant contributor to the national fiscus thereby justifying their increased presence on the Zimbabwean roads.
The app intends to flag all police checkpoints with realtime updates so that when they relocate to another spot, information is duly updated to the drivers and motorists so that they avoid forking much of their hard earned income through paying fines to the police.</p>
            </section>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view> 