<ion-view  class="list-bg" style="margin-left:10px; padding:4px 18px 8px 1px">

 <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>

</ion-nav-buttons>

<ion-content class="scroll-content">
    <div class="wrapper row2" style="margin-top:44px">
        <div id="container" class="clear">
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
          <div id="about-us" class="clear">
            <!-- ####################################################################################################### -->
            <section id="about-intro" class="clear text-center">
              <h3 style="margin-bottom: 40px">About Us</h3>
              <div style="width:140px; height:140px; margin: auto;top: 0;left: 0;right: 0;bottom: 0; ">
                <img style="max-width: 100%; max-height: 100%;" src="./img/mob-logo.png" />
              </div>
              <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.</p>
              <p>Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</p>
            </section>
            <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
          </div>
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
          <!-- ####################################################################################################### -->
        </div>
    </div>
  </ion-content>
</ion-view> 