<ion-view  class="list-bg">
   <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>

   </ion-nav-buttons>
   <ion-content scroll="false">
      <ion-list>
        <ion-item></ion-item>

      </ion-list> 
      <div id="map" data-tap-disabled="true" style="position: absolute;">
      </div>
      <div style="width:35px; height:35px; position: absolute;top: 52.5%;left: 45.2%;display: table-cell;
  vertical-align: middle;">
         <img style="max-width: 100%;max-height: 100%;" class="icon-center" src="./img/Crosshair.png" />
      </div>
<!--           <button class="centerButton button-icon icon ion-ios-navigate-outline" style="z-index:3;"></button>-->
      <div class="bar bar-footer bar-balanced"> 
         <button id="AddTagButton" ng-click="openPopover($event)" style="min-width: 100%; border-radius: 0px;background-color: #33cd5f;color: #fff;" class="button button-lite icon-center ion-android-add-circle">&nbsp;&nbsp;Add A Tag Here</button>
       
         <div style="position: absolute;width:35px; height:35px; ">
            <a class="button" style="z-index:3;margin-top:-64px;padding: 4px;height: 43px;" ng-click="reCenter()"><img style="max-width: 100%; max-height: 100%;" src="./img/navigation.png" /></a>
         </div>
      </div>
    </ion-content>
</ion-view>
