<ion-view title ="" class="bg-pane" ng-controller="LoginCtrl" >
  <ion-content padding="true" class="scroll-content" >
      <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="about-intro" class="clear">
   
              <div class="hpaddding-100"></div>
              <div class="logo-login"><img style="max-width: 100%; max-height: 100%;" src="./img/mob-logo.png" /></div>
             
              <h1 style="margin-bottom: 40px" class="text-center">Where are the Popos?</h1> 
                <form class="login-form" ng-submit="submitFormLogin(user)">
                <ion-list>
                  <label class="item item-input item-stacked-label text-center" style="padding: 10px;margin-bottom:20px">
                    <span class="input-label" style="font-size:18px">Login</span>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Enter Username</span>
                    <input type="text" ng-model="user.username" placeholder="Username">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Enter Your Password</span>
                    <input type="text" ng-model="user.password" placeholder="Password">
                  </label>
                    
                  <input type="submit" class="button button-block button-calm" style="margin-top:2%"  value="{{loginTxt}}">
                </ion-list>
                </form>
            </section>
          </div>
      </div>
  </ion-content>
</ion-view>