<ion-view title ="" class="bg-pane" ng-controller="LoginCtrl" >
  <ion-content padding="true" class="scroll-content">
   
    <div class="hpaddding-100"></div>
    <div class="logo-login"><img style="max-width: 100%; max-height: 100%;" src="./img/mob-logo.png" /></div>
    <div class="row login-text" >
    </div>

    <div class="row">
      <div class="col hz-name center">

        <center> 
          <form class="login-form" ng-submit="submitFormLogin(user)">
          <ion-list>
            <table>
                  <tr>
                    <td>
                      <input type="text" ng-model="user.username" placeholder="Enter Username"></input>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="password" ng-model="user.password" placeholder="Enter Password">
                    </td>
                  </tr>
            </table>
            
            <input type="submit" class="button button-block button-calm" value="{{loginTxt}}">
          </ion-list>
          </form>
        </center>

  <!--
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  -->

      </div>
    </div>
  </ion-content>
</ion-view>