<ion-side-menus>
  <ion-side-menu-content ng-controller="NavController">
    <ion-nav-bar class="nav-title-slide-ios7 bar-clear menu-color">
       <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>
  <ion-side-menu side="left" ng-controller="NavController">
      <ion-header-bar class="bar bar-header bar-dark bar-hz">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
      <ion-content has-header="true"  padding="true" class="scroll-content" >
          <div class="wrapper row2">
            <div id="container" class="clear">
                <section id="about-intro" class="clear">
                  <ul class="list" style="margin-top: 43px">
                    <a ui-sref="app.dash" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-home-outline"></i>Home</a>
                    <a ui-sref="app.list-detail" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-person-outline"></i>Profile</a>
                    <a ui-sref="app.rating" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-star-outline"></i>Rate Us</a>
                    <a ui-sref="app.settings" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-personadd-outline"></i>Invite a Friend</a>
                    <a ui-sref="app.aboutus" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-lightbulb-outline"></i>About</a>
                    <a ui-sref="app.login" nav-clear class="item item-icon-left" ng-click="toggleLeft()"><i class="icon ion-ios-close-empty"></i>Logout</a>
                  </ul>
               </section>
            </div>
          </div>
      </ion-content>
    </ion-side-menu>
</ion-side-menus>