<ion-view  class="list-bg">
   <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>

   </ion-nav-buttons>

  <ion-content scroll="false">
 <ion-list>
 <ion-item></ion-item>

</ion-list> 
  <div id="map" data-tap-disabled="true"></div>
   <div class="bar bar-footer bar-balanced">

   <button id="AddTagButton" ng-click="openPopover($event)" style="min-width: 100%; border-radius: 0px;" class="button button-lite icon-center ion-android-add-circle">&nbsp;&nbsp;Add A Tag Here</button>
  </div>

  </ion-content>
</ion-view>