<ion-view  class="list-bg bg-pane" style="margin-left:10px; padding:4px 18px 8px 1px" ng-controller="ProfileDetailCtrl">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true"  padding="true" class="padding scroll-content" >
        <div class="wrapper row2">
          <div id="container" class="clear">
              <section id="about-intro" class="clear">
                <p></p>
                <p></p>
                <img ng-src="{{profileDetail.face}}" style="width: 64px; height: 64px; margin-top:34px">
                <h2 style="color:black">{{profileDetail.name}}</h2>
                  
                  <p>{{profileDetail.address}}
                  <br>
                  <span class="left-details">{{profileDetail.isHaveOwnVehicle}}, {{profileDetail.isAlcoholic}}</span>
                </p>
                <p>
                  {{profileDetail.email}}
                  </p>
                
                <p>
                 <span class="perH">
                  {{profileDetail.occupation}}
                  </span>
                <br>
                {{profileDetail.mobileNum}}
                </p>
              </section>
          </div>
      </div>
  </ion-content>
</ion-view>