<ion-view  class="list-bg bg-pane" style="margin-left:10px; padding:4px 18px 8px 1px">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-clear icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="scroll-content">
      <div class="wrapper row2" style="margin-top:34px">
        <div id="container" class="clear">
          <div id="about-us" class="clear">
            <section id="about-intro" class="clear">
              <h1 style="margin-bottom: 20px;color:black" class="text-center">Rate Us</h1>
              <div style="width:140px; height:140px; margin: auto;top: 0;left: 0;right: 0;bottom: 0; ">
                <img style="max-width: 100%; max-height: 100%" src="./img/mob-logo.png" />
              </div>
              
              <form ng-show="!isRated" class="login-form" ng-submit="submitRatingInfo(ratingInfo)">
                <div class="list" style="margin-top: 20px">
                  <label class="item item-input item-stacked-label" style="border: none">
                    <span class="input-label" style="font-size:20px">Please Select Your Rating*</span>
                    <ion-list >
                      <ion-radio ng-model="ratingInfo.ratingVal" ng-value="1" style="width: 96%;">Very bad</ion-radio>
                      <ion-radio ng-model="ratingInfo.ratingVal" ng-value="2" style="width: 96%;">Need to Improve</ion-radio>
                      <ion-radio ng-model="ratingInfo.ratingVal" ng-value="3" style="width: 96%;">Neutral</ion-radio>
                      <ion-radio ng-model="ratingInfo.ratingVal" ng-value="4" style="width: 96%;">Good</ion-radio>
                      <ion-radio ng-model="ratingInfo.ratingVal" ng-value="5" style="width: 96%;">Excellent</ion-radio>
                    </ion-list>
                  </label>
                  
                  <label class="item item-input item-stacked-label" style="border: none">
                    <span class="input-label" style="font-size:20px">Add a Comment*</span>
                    <input type="text" ng-model="ratingInfo.comment" placeholder="Enter Comment Here..">
                  </label>
                </div>
      
                <button class="button button-block button-positive" style="margin-top:2%" ng-click="AddRating()"> Submit </button>
              </form>

              <div ng-show="isRated">
                <div class="list" style="margin-top: 20px">
                  <label class="item item-input item-stacked-label" style="border: none">
                    <span class="input-label" style="font-size:20px;">Our Ratings</span>
                    <div class="list" style="width: 96%;">

                      <a class="item item-icon-left" href="#">
                        <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                  
                        Excellent
                        <span class="badge positive">{{excellentCount}}%</span>
                      </a>
                    
                      <a class="item item-icon-left item-icon-right" href="#">
                        <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                              <i class="ion-android-star"></i>
                        Good
                        <span class="badge calm">{{goodCount}}%</span>
                      </a>
                    
                      <a class="item item-icon-left" href="#">
                        <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                        Neutral
                        <span class="badge balanced">{{neutralCount}}%</span>
                      </a>
                    
                      <a class="item item-icon-left" href="#">
                        <i class="ion-android-star"></i>
                          <i class="ion-android-star"></i>
                        Need to Improve
                        <span class="badge energized">{{ntImpovCount}}%</span>
                      </a>
                      
                      <a class="item item-icon-left" href="#">
                        <i class="ion-android-star"></i>
                        Very bad
                        <span class="badge assertive">{{badCount}}%</span>
                      </a>
                    
                    </div>
                  </label>
                                    
                  <label class="item item-input item-stacked-label" style="border: none">
                    <span class="input-label" style="font-size:20px;">Comments</span>
                    <div class="list" style="width: 96%;">

                      <a class="item item-icon-left" href="#" ng-repeat="(key, value) in ratings">
                        {{key}}<br>
                        <label style="font-size:15px;">{{value.comment}}</label>  
                        <span class="badge positive">{{value.rating == 5 ? 'Excellent' : value.rating == 4 ? 'Good' : value.rating == 3 ? 'Neutral' : value.rating == 2 ? 'Need to Improve' : value.rating == 1 ? 'Very Bad' : ''}}</span>                 
                      </a>
                    </div>
                  </label>
                </div>
              </div>

            </section>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view> 