<ion-view title ="" class="bg-pane" ng-controller="LoginCtrl" >   
  <ion-content padding="true" class="scroll-content" >
      <div class="wrapper row2">
        <div id="container" class="clear">
          <div id="about-us" class="clear">
            <section id="about-intro" class="clear">
              <div class="hpaddding-100"></div>
              <div class="logo-login"><img style="max-width: 100%; max-height: 100%;" src="./img/mob-logo.png" /></div>
             
              <h1 style="margin-bottom: 40px; color:black" class="text-center">Where are the Popos?</h1>     
              
              <label class="item item-input item-stacked-label text-center" style="padding: 10px;margin-bottom:20px;border: none;">
                <span class="input-label" style="font-size:18px">Basic Information</span>
              </label>
              
              <form class="login-form" ng-submit="submitRegisterBasicForm(user)">
                  <label class="item item-input item-stacked-label" style=";border: none"> 
                    <span class="input-label">Enter Your Name</span>
                    <input type="text" ng-model="user.name" placeholder="Name">
                  </label>
                  <label class="item item-input item-stacked-label" style=";border: none">
                    <span class="input-label">Enter Your Address</span>
                    <input type="text" ng-model="user.address" placeholder="Address">
                  </label>
                  <label class="item item-input item-stacked-label" style=";border: none">
                    <span class="input-label">Enter Mobile Number</span>
                    <input type="text" ng-model="user.telno" placeholder="Mobile Number">
                  </label>
                  <label class="item item-input item-stacked-label" style=";border: none">
                    <span class="input-label">Enter Your Email</span>
                    <input type="text" ng-model="user.email" placeholder="Email">
                  </label>
                  <label class="item item-input item-stacked-label" style=";border: none">
                    <span class="input-label">Enter Password</span>
                    <input type="text" ng-model="user.password" placeholder="Password">
                  </label>
                  <label class="item item-input item-stacked-label" style=";border: none">
                    <span class="input-label">Re-Enter Password</span>
                    <input type="text" ng-model="user.re_password" placeholder="Re-Enter Password">
                  </label>
                <input type="submit" class="button button-block button-calm" style="margin-top:2%;margin-bottom: 3%;" value="{{nextTxt}}">
              </form>
            </section>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-tabs class="tabs-dark tabs-icon-top">
      <ion-tab title="Register" ng-click="redirectToRegister()" icon-on="ion-person-add">
        <!-- Tab 1 content -->
      </ion-tab>
    
      <ion-tab title="Login" ng-click="redirectToLogin()" icon-off="ion-ios-people">
        <!-- Tab 2 content -->
      </ion-tab>
  </ion-tabs>
</ion-view>